@import "tailwindcss";


body {
  background-color: #010408;
}

/* 

a {
  transition: color 0.3s;
}

html.dark a {
  color: #6cc24a; 
} */

/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

/* Custom font utilities */
/* .font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
} */ 



.bottom-gradient-border {
  border-bottom: 4px solid;
  border-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  border-image-slice: 1;
}


.gradient-border {
  border: 4px solid;
  border-radius: 9999px; /* Ensures the border is round */
  border-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  border-image-slice: 1;
}

.custom-gradient-background {
  background-image: radial-gradient(circle farthest-corner at 83.7% 4.3%, rgba(173, 0, 171, 1) 0%, rgba(15, 51, 92, 1) 90%);
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite; /* Loop the animation */
  white-space: nowrap; /* Prevents the text from wrapping */
  padding-left: 100%; /* Start from the right end */
  line-height: 100px; /* Center text vertically */
  font-size: 24px; /* Adjust text size as needed */
}



/* Keyframes for bouncing effect */
@keyframes bounceTech {
  0%, 100% {
    transform: translateY(0); /* Start and end at original position */
  }
  30% {
    transform: translateY(-10px); /* Move up */
  }
  50% {
    transform: translateY(0); /* Return to original position */
  }
  70% {
    transform: translateY(-5px); /* Slight move up */
  }
  100% {
    transform: translateY(0); /* Final position */
  }
}

/* Apply bounce animation to the tech items */
.tech-item {
  animation: bounceTech 3.5s ease-in-out infinite; /* Infinite bounce */
}

/* Hover effect: Disable bounce on hover and apply scale */
.tech-item:hover {
  animation: none; /* Stop bouncing on hover */
  transform: scale(1.1);
  border-color: #17acff;
}